<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["AILearningApp.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    
    <!-- Application Insights JavaScript SDK for client-side tracking -->
    <script type="text/javascript">
        !function(T,l,y){var S=T.location,k="script",D="instrumentationKey",C="ingestionendpoint",I="disableExceptionTracking",E="ai.device.",b="toLowerCase",w="crossOrigin",N="POST",e="appInsightsSDK",t=y.name||"appInsights";(y.name||T[e])&&(T[e]=t);var n=T[t]||function(d){var g=!1,f=!1,m={initialize:!0,queue:[],sv:"5",version:2,config:d};function v(e,t){var n={},a="Browser";return n[E+"id"]=a[b](),n[E+"type"]=a,n["ai.operation.name"]=S&&S.pathname||"_unknown_",n["ai.internal.sdkVersion"]="javascript:snippet:"+(m.sv||m.version),n}var i=d.url||y.src;if(i){function a(e){var t,n,a,i,r,o,s,c,u,p,l;(t=e)&&(t.hierarchyId="1",e.src=i,n=y[w],a=n!==void 0&&n!==""?n:"anonymous",e.crossOrigin=a,t.async=1,o=function(e){var t=T.onerror;return T.onerror=function(n,a,i,r,o){return t&&t(n,a,i,r,o),!(e&&e(n,a,i,r,o))},function(){T.onerror=t}}((function(e,t,n,a,i){var r=e&&e[b]&&e[b]()||"",o=e&&e.indexOf&&e.indexOf("Script error")!==-1;return(o||r.indexOf("Unable to get property 'hierarchy' of undefined")!==-1||r.indexOf("Unable to get property 'hierarchy' of null")!==-1||r.indexOf("Unable to get property 'hierarchyId' of undefined")!==-1||r.indexOf("Unable to get property 'hierarchyId' of null")!==-1)&&(g=!0),!g})),y.ld<0?c=["js.monitor.azure.com"]:((p=[]).push((l=i,l&&l.replace?l.replace(/:\/\//,".").replace(/\?.*/,"").replace(/\/.*/,""):l)),c=p),function e(t,n,a,i){if(n<t.length)i&&typeof i=="function"?(s=document.createElement(k),l(s),s.onload=s.onreadystatechange=function(){s.readyState&&s.readyState!=="loaded"&&s.readyState!=="complete"||(s.onload=s.onreadystatechange=null,i())},s.src=("https:"===T.location.protocol?"https://":"http://")+t[n]+"/scripts/b/ext/ai.clck.2.8.18.min.js",a.appendChild(s)):a.appendChild(e);else{if(!(i&&typeof i=="function"))return;i()}}(c,0,document.head,(function(){var e=T[t]||m;e.queue=e.queue||[],e.queue.push(["trackEvent",{name:"CdnFallback"}])})),d[I]===void 0&&(d[I]=!0),(r=e).setAttribute("data-ai-name",t),e.cfg=d,e.cfg.src=i,e.cfg[C]=(d[C]||"https://js.monitor.azure.com"))}var u=T[t];u&&u.queue&&u.queue.length===0?(u.queue.push(["_hierarchyId",1]),u.queue.push(["_hierarchyTraceId","1"]),u.cfg||(u.cfg={}),u.cfg.src=i,u.cfg[C]=d[C]):a(e)}}();var s=m.queue,c=0;for(c=0;c<s.length;c++)m.queue.push(s[c]);return m}({src:"https://js.monitor.azure.com/scripts/b/ai.3.gbl.min.js",crossDomain:"anonymous",cfg:{connectionString:"InstrumentationKey=aa024e5a-0f2a-42c8-822f-f5ff18d844de;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/"}});window[e]=t,n.queue&&n.queue.length===0&&n.trackPageView({})}(window,document,{src:"https://js.monitor.azure.com/scripts/b/ai.3.gbl.min.js"});
    </script>
</body>

</html>
